@charset "utf-8";
@import "compass/reset";
@import "compass/css3";

@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */

//damit der animations-button ind seiner initial position gesehen wird
body .btn:first-child{
    margin-top: 50px;
}

.btn {
    /* TODO */
    @include transition-property(padding);
    @include transition-duration(600ms);
    @include transition-delay(0ms);
    @include transition-timing-function(linear);

    &.ease-in {
        /* TODO */
        @include transition-timing-function(ease-in);
    }

    &.ease-out {
        /* TODO */
        @include transition-timing-function(ease-out);
    }

    &.ease-in-out {
        /* TODO */
        @include transition-timing-function(ease-in-out);
    }

    &.green {
        /* TODO */
        @include transition-property(all);
    }

    &.animation {
        position: absolute;
        left:0;
        top:0;
        right:auto;
        bottom:auto;
        animation-timing-function: linear;
    }
}

body:hover .animation {
    animation-name:myanimation;
    animation-duration:5s;
}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

@keyframes myanimation {
    0% {
        bottom: auto;
        left: 0;
        right: auto;
        top: 0;
    }
    25% {
        bottom: auto;
        left: auto;
        right: 0;
        top: 0;
    }
    50% {
        bottom: 0;
        left: auto;
        right: 0;
        top: auto;
    }
    75% {
        bottom: 0;
        left: 0;
        right: auto;
        top: auto;
    }
    100% {
        bottom: auto;
        left: 0;
        right: auto;
        top: 0;
    }
}

