$std-field-border: 1px solid #000;

$std-field-margin: 10px 5px 10px 5px;
$std-field-padding: 5px;

$feedback-error-color: #d9534f;
$feedback-warning-color: #f0ad4e;
$feedback-success-color: #5cb85c;

$button-submit-color: #fafafa;

