@import "compass/reset";
@import "compass/css3";
@import "_variablen.scss";
@import "_mixIns.scss";
@import "_extensions.scss";

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family:'Open Sans', sans-serif;
}

#main {
    width: 990px;
    margin:0 auto;
}

input[type="text"],input[type="password"] {
    @extend %base-field;
    padding:$std-field-padding;
    width: 180px;
}

input[type="submit"] {
    @extend %base-field;
    border-radius:0;
    background-color:$button-submit-color;
    cursor:pointer;
}

label {
    margin-left:5px;
}

.passwordField {
    width:300px;
    float:left;
}

.passwordFeedback {
    width:250px;
    float:left;
}

.feedback {
    margin:$std-field-margin;
    font-size:11px;
    font-weight:600;

    &.error {
        color:$feedback-error-color;
    }
    &.warning {
         color:$feedback-warning-color;
    }
    &.success {
        color:$feedback-success-color;
    }

    &.error, &.warning, &.success {
        display: none;
    }
}

.strengthIndicator {
    margin:$std-field-margin;
    width: 200px;
    padding:$std-field-padding;
    height: 13px;
    border:1px solid #d3d3d3;

    &::before {
        content: "";
        display: block;
        height: 100%;

        @include transition-property(width);
        @include transition-delay(0);
        @include transition-duration(250ms);
        @include transition-timing-function(linear);
    }
}

.passwordWrapper::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

.error {
    .strengthIndicator::before {
        width: 10%;
        background-color: $feedback-error-color;
    }
    .feedback.error {
        display: block;
    }
}

.warning {
    .strengthIndicator::before {
        width: 60%;
        background-color: $feedback-warning-color;
    }
    .feedback.warning {
        display: block;
    }
}

.success {
    .strengthIndicator::before {
        width: 100%;
        background-color: $feedback-success-color;
    }
    .feedback.success {
        display: block;
    }
}

